{% extends "layout.html" %}

{% block content %}
    <h2>Login 🔑</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- Username Field -->
            {{ form.email.label }}
            {{ form.email }}
            {% for error in form.username.errors %}
                <div>{{ error }}</div>
            {% endfor %}

        <!-- Password Field -->
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <div>{{ error }}</div>
            {% endfor %}

        <!-- Submit Button -->
            {{ form.submit }}
    </form>

        <!-- Sign Up Link -->
        <small>
            Need an account?
            <a href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
{% endblock content %}